@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
  user-select:none;
  -webkit-user-select:none;
  cursor:default;
  -webkit-font-smoothing: antialiased;
}

html{
  margin:0px;
  padding:0px;
}

a{
  text-decoration:none;
  cursor:pointer;
  transition:all 0.2s ease;
  color:rgba(0,0,0,0.8);
}

a:hover{
  color:rgba(255,255,255,0.8);
}

body{
  font-family:'Open Sans';
  color:rgba(0,0,0,0.5);
  margin:0px;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.2),
    0px -1px 0px rgba(0,0,0,0.2);
}

#page{
  position:relative;
  margin: 50px 0px 0px 0px;
}

#page-wrapper{
  margin:0 auto;
  width:966px;
}

#main-content, #title, #details{
  border-top:1px solid rgba(255,255,255,0.3);
  border-left:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(0,0,0,0.4);
  border-right:1px solid rgba(0,0,0,0.2);
  z-index:1;
  position:relative;
  background: rgba(0,0,0,0.15);
  padding:10px;
  margin:20px 0px 20px 0px;
  box-shadow:0px 2px 1px rgba(0,0,0,0.1);
}

#title{
  height:55px;
}

#details{
  
}

#personal-profile{
  position:relative;
  min-height:35px;
  padding:10px;
  transition:all 1s ease;
}

#education{
  position:relative;
  min-height:35px;
  padding:10px;
  transition:all 1s ease;
}

#education table{
  width:100%;
}

#expertise{
  position:relative;
  min-height:35px;
  padding:10px;
  transition:all 1s ease;
}

#expertise table{
  width:100%;
}

#experience{
  position:relative;
  min-height:35px;
  padding:10px;
  transition:all 1s ease;
}

#career-history{
  position:relative;
  min-height:35px;
  padding:10px;
  transition:all 1s ease;
}

h1{
  padding:0px;
  margin:0px;
  font-family:'Raleway';
}

h2{
  padding:0px;
  margin:0px;
  font-family:'Raleway';
}

h3{
  font-family:'Raleway';
  position:relative;
  margin:0px;
  display:inline-block;
  padding:0px 2px;
  z-index:1;
  cursor:pointer;
}

h3:hover{
  margin:0px;
  display:inline-block;
}

#career-history table h3{
  font-family:'Raleway';
  position:relative;
  margin:0px;
  display:inline-block;
  background:none;
  transition:all 0.2s ease;
  padding:0px;
  z-index:1;
  cursor:default;
  box-shadow:0px 0px 0px #05f;
}

.plus{
  display:inline-block;
  width:12px;
}

#pixie {
  position:fixed;
  top:0px;
  width:100%;
  height:100%;
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='50');
  filter:blur(50px);
  -webkit-filter:blur(50px);
  -ms-filter: blur(50px);
  background: linear-gradient(to bottom, #aaa 0%,#aaa 37%,#555 100%);
  background: -webkit-linear-gradient(top, #aaa 0%,#aaa 37%,#555 100%);
}

#vignette{
  position:fixed;
  width:100%;
  height:100%;
  box-shadow:0px 0px 100px #000 inset;
}

hr{
  border:solid 1px #555;
  border-bottom:solid 1px #999;
}

#shine{
  position:fixed;
  top:0px;
  pointer-events:none;
  z-index:1000;
}

#shine svg{
  width:966px;
  height:300px;
  fill:#fff;
  opacity:0.5;
}
